.sectionsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;

}

@media screen and (min-width: 1440px) {
  .sectionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    padding: 32px;
  }


  .sectionsContainer>* {
    width: 50%;


  }
}